<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629802140732-bp3p7s8bvjd0civop50li34pib99mdjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629802140732-bp3p7s8bvjd0civop50li34pib99mdjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629802140732-9cbpsfcvvlmpn87n8d8hlmgmcfhcnf05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs7eeHeskI-jBUv7RLdvqFNGORxGaeWE4</string>
	<key>GCM_SENDER_ID</key>
	<string>629802140732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alem.edu</string>
	<key>PROJECT_ID</key>
	<string>alemedu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alemedu-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629802140732:ios:ef35af8fc444bb348cef39</string>
</dict>
</plist>